@model Timesheet.Models.Sector

@{
    ViewBag.Title = $"Confrim {Model.SectorName} Delete";
}

<h2>  </h2>

<div>
    <h4>Click Delete to permanetly delete the <b>@Model.SectorName</b> Sector</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Sector Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index") |
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
