@model Timesheet.Models.Sector

@{
    ViewBag.Title = $"Confrim {Model.SectorName} Delete";
}
    <h2>Are you sure you want to delete <b>@Model.SectorName</b> Sector?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Sector Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>