@model Timesheet.Models.Sector

@{ ViewBag.Title = $"{Model.SectorName} Details"; }

@Html.Partial("_PartialLogout")

<h2> <b>@Model.SectorName</b> Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal well">
        <dt>
            Sector Name
        </dt>

        <dd>
            @Html.ActionLink(Model.SectorName, "Edit", new { id = Model.SectionID }, new { datatoggle = "tooltip", title = $"Click to edit {Model.SectorName} sector" })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
